body{
    width: 95vw;
    background-color: #f5f3ff;
}
.side-bar{
    background-color: #5c4d74;
    height: 100vh;
}
.shopping-cart-text{
    color: white;
    text-align: center;
    margin: 10px;
}
.xty{
    display: inline-block;
    
}
.img{
    margin-left: 5px;
    height: 200px;
    width: 200px;
}
.btn{
    margin-left: 10px;
    margin-top: 10px;
    color: #5c4d74;
     font-weight:bold ;

}
.small-line{
    width: 180px;
    background-color: gray;
}
.full-bar{
    background-color: #f5f3ff;
}
.empty-top{
    height: 30px;
    width: 80%;
    background-color: #5c4d74;
    margin-top: 2px;
    margin-left: 2%;

}
.form-control{
    margin-top: 5px;
    width: 20%;
    margin-left:15px;
}
.item{
    margin-left: 150px;
}
.items{

    width: 80%;
    background-color: white;
    margin-left: 2%;
    color: #5c4d74;
    font-weight: bold;

}
.add-cart{
    color: #5c4d74;
    font-weight: bold;
    margin-left: 70%;
    margin-bottom: 5px;
}
.remove-button{
    color: #5c4d74;
}
.quantity{
    margin-left: 100px;
    height: 50px;
}
input{
    width: 30px;
}
.price{
    margin-left: 40px;
}
p{
    margin-left: 40%;
}

.quantity{
    margin-left: 100px;
    height: 50px;
}
